@media (max-width: 1920px) {
    html { font-size: 16px; }
    .logo {padding-bottom: 7%;}
    .windows-text {
        font-size: 17rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -1.5%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 18.5%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 2%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 18.5%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 99%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(1.9);
        margin: 0 auto;
        margin-top: 27.5%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    .usb-logo:active {
        transform: scale(1.95);
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }
    h3 {font-size: 4.5rem;}

    body {background-color: #e33131;}
}
@media (max-width: 1536px) {
    html { font-size: 16px; }
    .logo {padding-bottom: 5%;}
    .windows-text {
        font-size: 13rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -1.5%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 22%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 2%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 22%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 99%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(0.85);
        margin: 0 auto;
        margin-top: 24.5%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    .usb-logo:active {
        transform: scale(0.9);
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }


    /* body {background-color: #65a921;} */
}
@media (max-width: 1367px) {
    html { font-size: 13px;}
    .logo {padding-bottom: 5.5%;}
    .windows-text {
        font-size: 16rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -1.5%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 12.5%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 1.5%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 12.5%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 97%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(0.9);
        margin: 0 auto;
        margin-top: 22.3%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    .usb-logo:active {
        transform: scale(0.95);
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }
    h3 {font-size: 3.7rem;}

    body {background-color: #ba22b3;}
}
@media (max-width: 768px) {
    html { font-size: 10px; }
    .logo {padding-bottom: 2.7%;}
    .windows-text {
        font-size: 11.5rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -2%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 13%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 2%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 13%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 97%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(0.55);
        margin: 0 auto;
        margin-top: 9%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    .usb-logo:active {
        transform: scale(0.6);
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }
    h3 {font-size: 2.9rem;}

    body {background-color: #ff6600;}
}
@media (max-width: 415px) {
    html { font-size: 6px; }
    .logo {padding-bottom: 0%;}
    .windows-text {
        font-size: 10rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -1.5%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 15.5%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 2%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 15.5%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 98%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(0.5);
        margin-left: -23%;
        margin-top: -17.5%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }
    h3 {font-size: 2.5rem;}


    body {background-color: #c9d314}
}
@media (max-width: 360px) {
    html { font-size: 6px; }
    .logo {padding-bottom: 0%;}
    .windows-text {
        font-size: 8.5rem;
        animation: wallpaper 3s infinite alternate;
    }
    .windows-text:hover {
        animation-play-state: paused;
        color: #5D5D5D !important; 
    }
    @keyframes wallpaper {
        0% {color: #2030d8;
            margin-top: -1.5%; margin-left: 2%;
            animation-timing-function: ease-in;
            }
        25% {color: #ff6600;
            margin-top: 25%; margin-left: 17%;
            animation-timing-function: ease-in;
        }
        50% {color: #1BED6F;
            margin-top: 50%; margin-left: 2%;
            animation-timing-function: ease-in;
        }
        75% {color: #ba22b3;
            margin-top: 75%; margin-left: 17%;
            animation-timing-function: ease-in;
        }
        100% {color: #e33131;
            margin-top: 98%; margin-left: 10%;
            animation-timing-function: ease-in;
        }
    }
    .usb-logo {
        width: 229px;
        height: 181px;
        transform: scale(0.37);
        margin-left: -34%;
        margin-top: -26.5%;
        animation: logo 3s steps(1) infinite;
        animation-play-state: paused;
    }
    .usb-logo:hover {
        animation-play-state: running;
    }
    @keyframes logo {
        0% {background-image: url('../img/logo2.svg');}
        10% {background-image: url('../img/logo1.svg');}
        20% {background-image: url('../img/logo3.svg');}
        30% {background-image: url('../img/logo4.svg');}
        40% {background-image: url('../img/logo5.svg');}
        50% {background-image: url('../img/logo6.svg');}
        60% {background-image: url('../img/logo7.svg');}
        70% {background-image: url('../img/logo8.svg');}
        80% {background-image: url('../img/logo9.svg');}
        90% {background-image: url('../img/logo10.svg');}
        100% {background-image: url('../img/logo11.svg');}
      }
    h3 {font-size: 2.2rem;} 

    
    body {background-color: #d3a123}
}

/* body {background-color: #ad14d3} */