@import 'reboot.css';
@import 'index.css';
@import 'admin.css';
@import 'responsive.css';

font-face {
    font-family: 'PPNeueBit', sans-serif;
    font-style: bold;
    font-weight: 700;
    src: local(''),
    url('../fonts/PPNeueBit.otf') format('opentype')
}

